.main_chat_section {
    width: 100%;
    height: calc(100vh - 40vh);
    overflow-y: scroll;
}

.message_container {
    width: 100%;
    padding: 1em;
    color: #333;
    border-radius: 4px;
    line-height: 1.5;
    background-color: rgba(84, 161, 248, 0.11);
}

.notification_container {
    width: 100%;
    padding: 1em 0;
    border-radius: 4px;
    line-height: 1.5;

    p {
        font-weight: bolder;
    }

    li {
        font-weight: 400;
        opacity: .5;

        span {
            color: rgb(18, 120, 216);
        }
    }
}
